* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 3rem;
    margin: 0;
}
h1, p{
    text-align: center;
    color: #4CAF50;
}